# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_XORNE_LEFT
	def_bool $(shields_list_contains,xorne_left)

config SHIELD_XORNE_RIGHT
	def_bool $(shields_list_contains,xorne_right)
